*,
* * {
  box-sizing: border-box;
}

code,
pre {
  font-family: var(--font-family-monospace);
}

fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ol,
ul {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: inherit;
  text-decoration-color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

dd,
dl {
  margin: 0;
}

button,
input,
textarea {
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  color: inherit;
}

button:disabled,
input:disabled {
  cursor: not-allowed;
  user-select: none;
}

hr {
  border: none;
  height: 0;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a:active,
button:not(:disabled):active {
  transform: translate3d(0, 1px, 0);
}

body {
  background-color: var(--color-body-background);
  color: var(--color-body-font);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-body);
  font-optical-sizing: auto;
  font-size: var(--font-size-base);
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 400;
  line-height: var(--line-height-base);
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  row-gap: var(--spacing-base);
}

canvas {
  image-rendering: pixelated;
}

::selection {
  color: white;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}

::-webkit-scrollbar {
  height: var(--width-scrollbar);
  width: var(--width-scrollbar);
}

::-webkit-scrollbar-track {
  background: transparent;
}
