:root {
  --color-body-background: #ffffff;
  --color-body-font: #222;
  --color-border: black;
  --color-highlight: yellow;
  --color-note-background: #ffffdd;
  --color-scrollbar: #e5e3e1;
  --color-scrollbar-hover: var(--color-highlight);
  --color-separator: #e5e3e1;
  --duration-transition-hover: 100ms;
  --font-family-body: "Inter", sans-serif;
  --font-family-monospace: "Noto Sans Mono", monospace;
  --height-documentation-navigation: 50px;
  --height-page-navigation: 54px;
  --height-page-footer: 100px;
  --height-scrollbar: 8px;
  --line-height-base: 1.5;
  --spacing-2x: calc(2 * var(--spacing-base));
  --spacing-base: 16px;
  --spacing-half: calc(0.5 * var(--spacing-base));
  --spacing-base-plus-half: calc(1.5 * var(--spacing-base));
  --spacing-quarter: calc(0.25 * var(--spacing-base));
  --width-scrollbar: 6px;

  --z-index-text-decoration: 1;
  --z-index-related-pages: 2;
  --z-index-primary-navigation: 3;
  --z-index-primary-navigation-dropdown: 4;
  --z-index-modal: 5;

  @media (max-width: 1650px) {
    --font-size-h1: 32px;
    --font-size-h2: 20px;
    --font-size-h3: 13px;
    --font-size-base: 13px;
    --font-size-small: 11px;
  }
  @media (min-width: 1650px) {
    --font-size-h1: 38px;
    --font-size-h2: 24px;
    --font-size-h3: 15px;
    --font-size-base: 15px;
    --font-size-small: 13px;
  }
}
